/* Dropdown menu*/
.dropbtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 160px;
    border: none;
}

.dropdown{
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.works {
    position: absolute;
}

/*footer*/
footer {
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px;
    width: 100%;
    background-color: #f1f1f1;
}
.site-footer {
    border: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

.content {
    padding: 18px;
    background:cornsilk
}
.content-box{
    width:200px;
    height:150px;
    position: relative;
}
.img{
    width : 500px;
    background:cornsilk
}
.headshot{
    width:200px
}
#icon {
    width:100px;
    padding: 15px;
}

/* .jumbotron-img{
    background-image: url(../jumbotron.jpg);
} */